.inputWrapper{
    width: 100vw;
    display: inline-flex;
    justify-content: flex-end;
     align-items: center; 
}

.input_table {
    align-self: flex-start !important; 
    padding-right: 100px;
  
}

.button {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 3px;
    border: 0px;
    color: white;
    margin: 10px;
    height: 48px;
    width: 100px;
    box-shadow: 0 3px 5px 2px #888888;

}


.barWrapper {
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    margin-top: 50px;
     -webkit-transform: scaleY(-1)
    /* -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); */
}




.bar {

    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,32,32,1) 18%, rgba(0,212,255,1) 100%) !important;
}


